
import(jsonlite)
import(curl)

export(import_csv,
       validateSetup,
       courseDetails,
       combineScores,
       computeTotal,
       combineSessions,
       makeSessionHTML,
       collectAllScores,
       average_BP_NC)


export(email, message_body, message_header)
